<h3 class="ui header">{{t "forms.i-i-s-semya-debilov-оплата-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-semya-debilov-оплата-e.номер-caption")
      data-test-i-i-s-semya-debilov-оплата-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.количество
      class=(if (v-get validationModel "количество" "isInvalid") "error")
      label=(t "forms.i-i-s-semya-debilov-оплата-e.количество-caption")
      data-test-i-i-s-semya-debilov-оплата-e-количество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "количество" "message")}}
  </div>
  <div class="field" data-test-i-i-s-semya-debilov-оплата-e-типОплаты="true">
    <label>{{t "forms.i-i-s-semya-debilov-оплата-e.типОплаты-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-semya-debilov-тип-оплаты")
      value=model.типОплаты
      class=(if (v-get validationModel "типОплаты" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "типОплаты" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сумма
      class=(if (v-get validationModel "сумма" "isInvalid") "error")
      label=(t "forms.i-i-s-semya-debilov-оплата-e.сумма-caption")
      data-test-i-i-s-semya-debilov-оплата-e-сумма=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сумма" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya-debilov-оплата-e.терминал-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.терминал
      displayAttributeName="номер"
      autocomplete=true
      relationName="терминал"
      projection="ТерминалL"
      title=(t "forms.i-i-s-semya-debilov-оплата-e.терминал-caption")
      readonly=readonly
      componentName="терминалLookup"
      class=(if (v-get validationModel "терминал" "isInvalid") "error")
      data-test-i-i-s-semya-debilov-оплата-e-терминал=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "терминал" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya-debilov-оплата-e.колонка-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.колонка
      displayAttributeName="номер"
      autocomplete=true
      relationName="колонка"
      projection="КолонкаL"
      title=(t "forms.i-i-s-semya-debilov-оплата-e.колонка-caption")
      readonly=readonly
      componentName="колонкаLookup"
      class=(if (v-get validationModel "колонка" "isInvalid") "error")
      data-test-i-i-s-semya-debilov-оплата-e-колонка=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колонка" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya-debilov-оплата-e.карты-caption"}}</label>
    {{flexberry-groupedit
      componentName="картыGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.карты
      content=model.карты
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "карты" "isInvalid") "error")
      data-test-i-i-s-semya-debilov-оплата-e-карты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "карты" "message")}}
  </div>
</form>
