<h3 class="ui header">{{t "forms.i-i-s-semya-debilov-регистр-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya-debilov-регистр-e.оплата-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.оплата
      displayAttributeName="номер"
      autocomplete=true
      relationName="оплата"
      projection="ОплатаL"
      title=(t "forms.i-i-s-semya-debilov-регистр-e.оплата-caption")
      readonly=readonly
      componentName="оплатаLookup"
      class=(if (v-get validationModel "оплата" "isInvalid") "error")
      data-test-i-i-s-semya-debilov-регистр-e-оплата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оплата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-semya-debilov-регистр-e.резервуар-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.резервуар
      displayAttributeName="номер"
      autocomplete=true
      relationName="резервуар"
      projection="РезервуарL"
      title=(t "forms.i-i-s-semya-debilov-регистр-e.резервуар-caption")
      readonly=readonly
      componentName="резервуарLookup"
      class=(if (v-get validationModel "резервуар" "isInvalid") "error")
      data-test-i-i-s-semya-debilov-регистр-e-резервуар=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "резервуар" "message")}}
  </div>
</form>
